.container {
  background-color: #141414;
  min-height: 100vh;
  display: flex;
  justify-content: center; /* 水平居中卡片 */
  align-items: center; /* 垂直居中卡片 */
}

.profile-card {
  color: #ffffff;
  display: flex;
  padding: 24px;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 340px;
  background-color: #1f1f1f;
  border-radius: 12px;
}
.profile-image {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 100px;
}

.profile-name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.profile-location {
  font-size: 14px;
  color: #c4f82a;
  margin-bottom: 24px;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.social-links li {
  background-color: #333333;
  padding: 12px;
  border-radius: 8px;
  max-width: 280px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.social-links li:hover {
  transition: background-color 0.3s ease;
  color: #333333;
  background-color: #c4f82a;
}
